<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="uk.edu.le.co2124assignment">

    <application
        android:allowBackup="true"
        android:theme="@style/Theme.CourseManagementApp"
        android:label="@string/app_name">

        <activity android:name=".ui.EditStudentActivity" />
        <activity android:name=".ui.StudentDetailsActivity" />
        <activity android:name=".ui.AddStudentActivity" />
        <activity android:name=".ui.CourseDetailsActivity" />
        <activity android:name=".ui.CreateCourseActivity" />
        <activity
            android:name=".ui.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>
